@page
@model RestaurantManagement.Pages.Authentication.LoginModel
@{
}
<form method="post">
    <div class="form-group">
        <label for="Email">Username:</label>
        <input type="text" class="form-control" id="Email" name="Username" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" class="form-control" id="Password" name="Password" />
    </div>
    <h1 style="color:red">@Model.message</h1>
    <button type="submit" class="btn btn-primary">Login</button>
</form>