@page
@model RestaurantManagement.Pages.FoodMng.CreateModel


@{
    ViewData["Title"] = "Create";
}

<h3>Create Food</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label"></label>
                <input id="name" asp-for="Food.Name" class="form-control" required />
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Description" class="control-label"></label>
                <input id="description" asp-for="Food.Description" class="form-control" required/>
                <span asp-validation-for="Food.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Price" class="control-label"></label>
                <input id="price" asp-for="Food.Price" class="form-control" required/>
                <span asp-validation-for="Food.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.CategoryId" class="control-label"></label>
                <select asp-for="Food.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="return showSuccessMessage()">Create</button>
        </form>
    </div>
</div>
<div id="successMessage" style="display: none" class="mt-2 text-success text-primary">
    Successfull!
</div>
<div id="failMessage" style="display: none" class="mt-2 text-danger text-primary">
    Fill all data!
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function showSuccessMessage() {
        var nameInput = document.getElementById("name");
        var descriptionInput = document.getElementById("description");
        var priceInput = document.getElementById("price");

        if (nameInput.value.trim() === "" || descriptionInput.value.trim() === "" || priceInput.value.trim() === "") {
            document.getElementById('failMessage').style.display = 'block';
            document.getElementById('successMessage').style.display = 'none';
            return false;
        } else {
            document.getElementById('failMessage').style.display = 'none';
            document.getElementById('successMessage').style.display = 'block';
            return true;
        }
    }
</script>
