@page
@model RestaurantManagement.Pages.TableOrder.IndexModel
@{
}

<form method="post">
    <p>Description</p> 
    <input name="description"/> <br />
    <p>Floor</p>
    <input name="floor" type="number" /><br />
    <p>Number</p>
    <input name="number" type="number" style="margin-bottom:20px"/><br />
    <input type="submit" value="Create Table"/>
</form>
