@page
@model RestaurantManagement.Pages.Order.TableModel
@{
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 24px;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        font-weight: bold;
    }

    input[type="datetime-local"] {
        margin: 10px 0;
    }

    input[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<form method="post">
    <h1>Đặt bàn</h1>
    @foreach (var c in Model.tableOrders)
    {
        <div>
            <input required type="radio" name="table_id" value="@c.Id" id="table-@c.Id">
            <label for="table-@c.Id">@c.Description, Tầng: @c.Floor, Số bàn: @c.Number</label>
        </div>
    }
    <div>
        Start: <input required type="datetime-local" id="datetime1" name="start">
        End: <input required type="datetime-local" id="datetime" name="end"><br>
    </div>
    <input type="submit" value="Đặt bàn">
</form>







<script>
  const datetimeInput = document.getElementById("datetime");
  const now = new Date();
  const nowISOString = now.toISOString().slice(0, 16); // Get current date and time in ISO format

  datetimeInput.min = nowISOString;

    const datetimeInput1 = document.getElementById("datetime1");
  

  datetimeInput1.min = nowISOString;



</script>

