@page
@model RestaurantManagement.Pages.CategoryMng.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodCategory.Name" class="control-label"></label>
                <input required id="name" asp-for="FoodCategory.Name" class="form-control" />
                <span asp-validation-for="FoodCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategory.Description" class="control-label"></label>
                <input required id="description" asp-for="FoodCategory.Description" class="form-control" />
                <span asp-validation-for="FoodCategory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function showSuccessMessage() {
        var nameInput = document.getElementById("name");
        var descriptionInput = document.getElementById("description");

        if (nameInput.value.trim() === "" || descriptionInput.value.trim() === "") {
            document.getElementById('failMessage').style.display = 'block';
            document.getElementById('successMessage').style.display = 'none';
            return false;
        } else {
            document.getElementById('failMessage').style.display = 'none';
            document.getElementById('successMessage').style.display = 'block';
            return true;
        }
    }
</script>

